// remove default 'block-inner' top padding from the second block
// in a series of two with the same background color
@each $color_name, $color_value in $bg-colors {
	.block-container.#{$color_name} + .block-container.#{$color_name} {
		.block-inner {
			padding-top: 0;
		}
	}
}

.block-container.block-bg-none + .block-container.block-bg-none {
	.block-inner {
		padding-top: 0;
	}
}

.block-container {
	.block-inner {
		padding: map-deep-get($block-padding, 'small', 'top') map-deep-get($block-padding, 'small', 'right') map-deep-get($block-padding, 'small', 'bottom') map-deep-get($block-padding, 'small', 'left');

		@include media-min($medium) {
			padding: map-deep-get($block-padding, 'medium', 'top') map-deep-get($block-padding, 'medium', 'right') map-deep-get($block-padding, 'medium', 'bottom') map-deep-get($block-padding, 'medium', 'left');
		}

		@include media-min($large) {
			padding: map-deep-get($block-padding, 'large', 'top') map-deep-get($block-padding, 'large', 'right') map-deep-get($block-padding, 'large', 'bottom') map-deep-get($block-padding, 'large', 'left');
		}
	}
}
