/*************************************
Colorbox
**************************************/

#colorbox, #cboxOverlay, #cboxWrapper { position: absolute; top: 0; left: 0; z-index: 9999; overflow: hidden; }
#cboxWrapper { max-width: none; }
#cboxOverlay { position: fixed; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.8) repeat 0 0;}
#cboxMiddleLeft, #cboxBottomLeft { clear: left; }
#cboxContent { position: relative; background: white; overflow: hidden; }
#cboxLoadedContent { overflow: auto; -webkit-overflow-scrolling: touch; margin-bottom: 28px; }
#cboxTitle { margin: 0; position: absolute; bottom: 4px; left: 0; text-align: center; width: 100%; color: #949494; }
#cboxLoadingOverlay, #cboxLoadingGraphic { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow { cursor: pointer; }
.cboxPhoto { float: left; margin: auto; border: 0; display: block; max-width: none; -ms-interpolation-mode: bicubic; border-radius: 4px; }
.cboxIframe { width: 100%; height: 100%; display: block; border: 0; padding: 0; margin: 0; background: white; }
#colorbox, #cboxContent, #cboxLoadedContent { box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; }
#colorbox { outline: 0; border: 8px solid black; background-color: white; border-radius: 12px; box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); }
#cboxError { padding: 50px; border: 1px solid #cccccc; }
#cboxTopLeft, #cboxTopRight, #cboxBottomLeft, #cboxBottomRight { width: 6px; height: 6px; }
#cboxMiddleLeft, #cboxMiddleRight { width: 6px; }
#cboxTopCenter, #cboxBottomCenter { height: 6px; }
#cboxCurrent { position: absolute; bottom: 4px; left: 58px; color: #949494; }
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose { border: 0; padding: 0; margin: 0; overflow: visible; width: auto; }
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active { outline: 0; }
#cboxSlideshow { position: absolute; bottom: 4px; right: 30px; color: #0092ef; }
#cboxPrevious { position: absolute; bottom: 0; left: 0; width: 25px; height: 25px; text-indent: -9999px; background-color: transparent; background-position: -460px -897px; border-radius: 15px; }
#cboxNext { position: absolute; bottom: 0; left: 27px; width: 25px; height: 25px; text-indent: -9999px; background-color: transparent; background-position: -476px -897px; border-radius: 15px; }
#cboxClose { position: absolute; bottom: 0; right: 0; width: 23px; height: 23px; text-indent: -9999px; background-position: -14px -842px; border-radius: 15px; }
.cboxIE #cboxTopLeft, .cboxIE #cboxTopCenter, .cboxIE #cboxTopRight, .cboxIE #cboxBottomLeft, .cboxIE #cboxBottomCenter, .cboxIE #cboxBottomRight, .cboxIE #cboxMiddleLeft, .cboxIE #cboxMiddleRight { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF); }