body {
	font: $body-font;
}

hr {
	border: 0;
	height: 0;
	border-top: 1px solid $gray-med;
}

table {
	thead {
		tr {
			th {
				border-bottom: 1px solid $gray-med;
  				padding: 0.5rem;
  				text-align: left;
			}
		}
	}
	tbody {
		tr {
			td {
				border-bottom: 1px solid $gray-med;
  				padding: 0.5rem;
  				text-align: left;
			}
		}
	}
}

.section-container {
	.section-inner {
		padding: 2rem 0;
	}
}
