/////////////////////////////////////
//Imports
/////////////////////////////////////

@import 'compass';
@import 'sass-includes/variables';
@import 'sass-includes/mixins';
@import 'sass-includes/normalize';
@import 'sass-includes/foundation';
@import 'sass-includes/ui';
//@import 'sass-includes/spacing';
@import 'sass-includes/blocks';
@import 'sass-includes/colorbox';
@import 'sass-includes/wordpress';


/*************************************
Global
**************************************/

body {
	font-size: 16px;
}

hr {
	border: 0;
	height:0;
	border-top: 1px solid #777;
}

p {
	font-size: 1em;
	font-weight: normal;
}

table {
	thead {
		tr {
			th {
				border-bottom: 1px solid #777;
  				padding: 0.5rem;
  				text-align: left;
			}
		}
	}
	tbody {
		tr {
			td {
				border-bottom: 1px solid #777;
  				padding: 0.5rem;
  				text-align: left;
			}
		}
	}
}
ul {
	padding: 0;
	nav & {
		list-style: none;
		list-style-position: inside;
	}
}
