/////////////////////////////////////
//Imports
/////////////////////////////////////

@import 'compass';
@import 'sass-includes/variables';
@import 'sass-includes/mixins';
@import 'sass-includes/normalize';
@import 'sass-includes/foundation';
@import 'sass-includes/blocks';
@import 'sass-includes/colorbox';
@import 'sass-includes/wordpress';


/*************************************
Global
**************************************/

body{
	font-size: 16px;
}

hr{
	border: 0;
	height:0;
	border-top: 1px solid #777;
}

p{
	font-size: 1em;
	font-weight: normal;
}

table{
	thead{
		tr{
			th{
				border-bottom: 1px solid #777;
  				padding: 0.5rem;
  				text-align: left;
			}
		}
	}
	tbody{
		tr{
			td{
				border-bottom: 1px solid #777;
  				padding: 0.5rem;
  				text-align: left;
			}
		}
	}
}
ul{
	padding: 0;
	list-style: none;
	list-style-position: inside;
}

/*************************************
Buttons
**************************************/
button,
.button,
input[type=submit] {
	@include transition(background-color, 0.3s, ease);
	border-style: solid;
	border-width: 0;
	color: $white;
	cursor: pointer;
	display: inline-block;
	font-size: 0.88889rem;
	font-weight: normal;
	line-height: normal;
	margin: 0 0 1.11111rem;
	position: relative;
	padding-top: 0.489rem;
	padding-right: 1.378rem;
	padding-bottom: 0.444rem;
	padding-left: 1.378rem;
	outline: none;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	&:hover{
		color: $white;
	}
}

