@mixin fontsize($fontsize, $lineheight: 'auto', $basesize: 16) {

	@if $lineheight == 'auto' {
		$lineheight: round($fontsize * 1.2);
	}

	font-size: $fontsize + px;
	font-size: ($fontsize / $basesize) + rem;
	line-height: ($lineheight) + px;
	line-height: ($lineheight / $basesize) + rem;
	margin-top: (($lineheight - $fontsize)/2 * -1) + px;
	margin-top: ((($lineheight - $fontsize)/2 * -1) / $basesize ) + rem;
}

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin clearfix{
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
}

@mixin absolute_center{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.grav-vert-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
	  -ms-transform: translateY(-50%);
	  transform: translateY(-50%);
}

.grav-vert-align-parent {
  -webkit-transform-style: preserve-3d;
	  -moz-transform-style: preserve-3d;
	  transform-style: preserve-3d;
}
