/* main: ../master.scss */
/*
* Typography
*
* This file is to be used for all styling specific
* to site's typographic elements. This includes all
* h1 - h6 headings, li, p, and such. This file should
* start with any @font-face declarations.
*
*/

* {
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p {
	font-size: 1em;
	font-weight: normal;
}

ul {
	padding: 0;
	nav & {
		list-style: none;
		list-style-position: inside;
	}
}
