/////////////////////////////////////
// Variables for Foundation
/////////////////////////////////////
$row_max_width : 1440px;
$gutter_width : .9375rem;
$small : 641px;
$medium : 1025px;
$large : 1441px;
$xlarge : 1921px;


/////////////////////////////////////
// Sprite
/////////////////////////////////////

$sprite: '../image/sprite.png';


/////////////////////////////////////
// Variables
/////////////////////////////////////

$white: #ffffff;
$black: #000000;