@each $color_name, $color_value in $bg-colors {
	.bg-#{$color_name} {
		background-color: $color_value;
	}
}

@each $color_name in $bg-colors-with-light-text {
	.bg-#{$color_name} {
		color: $text-light;
		* {
			color: $text-light;
		}
	}
}

hr {
	border: 0;
	height: 0;
	border-top: 1px solid $gray-med;
}

table {
	thead {
		tr {
			th {
				border-bottom: 1px solid $gray-med;
  				padding: 0.5rem;
  				text-align: left;
			}
		}
	}
	tbody {
		tr {
			td {
				border-bottom: 1px solid $gray-med;
  				padding: 0.5rem;
  				text-align: left;
			}
		}
	}
}

.section-container {
	.section-inner {
		padding: $section-padding;
	}
}
