/*************************************
Foundation Variables
**************************************/
$row-max-width: 1440px;
$mobile-gutter-width: .625rem;
$gutter-width: .9375rem;
$medium: 641px;
$large: 1025px;
$xlarge: 1441px;
$xxlarge: 1921px;

/*************************************
Colors
**************************************/

$white: #ffffff;
$black: #000000;
$gray-light: #dddddd;
$gray-med: #777777;
$gray-dark: #333333;
$transparent: rgba(0,0,0,0);

$text-light: $white;
$text-dark: $gray-dark;

$bg-colors: (
    white: $white,
    black: $black,
    gray-light: $gray-light,
    gray-med: $gray-med,
    gray-dark: $gray-dark
);

$bg-colors-with-light-text: (
    'gray-med',
    'gray-dark',
    'black'
);


/*************************************
Typography
**************************************/
$body-font: normal normal normal 16px / 20px Arial, sans-serif;  // Make sure fallbacks are included
$body-font-color: $text-dark;
$paragraph-font-size: 1em;
$paragraph-font-weight: normal;


/*************************************
Font Awesome
**************************************/
$fa-font-path:        '../../../lib/font-awesome-4.7/fonts';
$fa-font-size-base:   14px;
$fa-line-height-base: 1;
$fa-li-width:         (30em / 14);


/*************************************
Header
*************************************/
$header-height: 100px;
$header-bg-color: $gray-med;
$header-padding: 18px 0;

$header-squashed-height: 80px;
$header-squashed-padding: 4px 0;


/*************************************
Footer
*************************************/
$footer-bg-color: $gray-dark;
$footer-padding: 3rem 0;
$footer-text-color: $white;


/*************************************
Default Sections
*************************************/
$section-padding: 2rem 0;


/*************************************
Buttons
*************************************/

// Button 1
$button-text-color: $white; //$white;
$button-bg-color: $gray-med;
$button-border: 1px solid $white;
$button-border-radius: 0;
$button-font-size: 0.88889rem;
$button-font-weight: normal;
$button-padding: 0.489rem 1.378rem 0.444rem 1.378rem;

// Hover
$button-hover-text-color: $white;
$button-hover-bg-color: $gray-med;

// Dark Backgrounds
$button-bg-color-on-dark-bg: $transparent;
$button-border-color-on-dark-bg: $text-light;

$buttons: (
    'primary': (
        text-color: $white, //$white,
        bg-color: $gray-med,
        border: 1px solid $white,
        border-radius: 0,
        font-size: 0.88889rem,
        font-weight: normal,
        padding: 0.489rem 1.378rem 0.444rem 1.378rem,

        // Hover
        hover-text-color: $white,
        hover-bg-color: $gray-med,

        // Dark Backgrounds
        bg-color-on-dark-bg: $transparent,
        border-color-on-dark-bg: $text-light,
    ),
    'primary-big': (
        text-color: $white, //$white,
        bg-color: $gray-med,
        border: 1px solid $white,
        border-radius: 0,
        font-size: 0.88889rem,
        font-weight: normal,
        padding: 0.489rem 1.978rem 0.444rem 1.378rem,

        // Hover
        hover-text-color: $white,
        hover-bg-color: $gray-med,

        // Dark Backgrounds
        bg-color-on-dark-bg: $transparent,
        border-color-on-dark-bg: $text-light,

        //icons
        // icon-content: $fa-var-search,
        // icon-top: 4px,
        // icon-left: 4px
    )
);


/*************************************
Anchors
*************************************/
$anchor-color: $black;
$anchor-text-decoration: none;

// Anchor Hover
$anchor-hover-color: $black;
$anchor-hover-text-decoration: underline;

// Dark backgrounds
$anchor-color-on-dark-bg: $white;
$anchor-hover-color-on-dark-bg: $gray-light;


/*************************************
Blocks
*************************************/
$block-padding: 1rem 0;

/*************************************
Spacing
*************************************/
$base-spacing: (blockquote: 1.66667rem, ul: 1.1111rem, ol: 1.1111rem, p: 1.1111rem, h1: 2.5rem, h2: 1.88889rem, h3: 1.5rem, h4: 1.25rem, h5: 1.1111rem);
$h1-spacing: (h2: 1.375rem, h3: 1rem, h4: .75rem, h5: .675rem, h6: .5rem, p: .8333rem);
$h2-spacing: (h3: .5rem, h4: .375rem, h5: .25rem, h6: .125rem, p: .555rem);
$h3-spacing: (h4: .375rem, h5: .25rem, h6: .125rem, p: .555rem);
$h4-spacing: (h5: .25rem, h6: .125rem, p: .555rem);
$h5-spacing: (h6: .125rem, p: .2777rem, ul: .5555rem, ol: .5555rem);
$h6-spacing: (p: .2777rem, ul: .5555rem, ol: .5555rem);
